<div class="btn">
  <button (click)="login()"> Login with Google</button>
  <button>Logout</button>
</div>
  <p> {{idToken$ | async}} </p>


<div class="parent">
  <div class="section yellow">
    <form [formGroup]="form" (submit)="addNote()">
      <label for="title" style="color: rgb(0, 0, 0)">Title</label>
      <br />
      <input
        type="text"
        name="title"
        id="title"
        class="input"
        placeholder="Enter title"
        class="form-control"
        formControlName="title"
      />
      <br />
      <label for="text" style="color: rgb(0, 0, 0)">Note</label>
      <br />
      <textarea
        type="text"
        name="text"
        id="text"
        class="text"
        placeholder="Enter your note"
        class="form-control"
        formControlName="description"
      ></textarea>
      <br />
      <button type="submit" class="add" [disabled]="!form.valid">Save</button>
    </form>
  </div>
  <div class="section purple">
    <table class="container">
      <thead>
        <tr>
          <th><h1>Title</h1></th>
          <th><h1>Date</h1></th>
          <th><h1>Note</h1></th>
          <th><h1>Management</h1></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of note$ | async">
          <td>{{ note.title }}</td>
          <td style="color: rgb(63, 212, 199)">{{ note.deadline }}</td>
          <td style="color: #ffff">{{ note.content }}</td>
          <td>
            <button class="delete" (click)="deleteNote(note.sdt)">Delete</button>
            <button class="update">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>

